html {
  overflow-x: hidden;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  text-align: center;
  overflow-x: hidden;
}

html, body {
  height: 100%;
  overflow: hidden;
}
